<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/fruits.png" class="card-img-top" height="170">
            <div class="card-body">
              <h5 class="card-title">Fruits</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More information</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/ketodiet.png" class="card-img-top" height="170">
            <div class="card-body">
              <h5 class="card-title">Foods keto diet</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More information</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/proteine.png" class="card-img-top" height="170">
            <div class="card-body">
              <h5 class="card-title">Foods proteins</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More information</a>
            </div>
          </div>
    </div>
</div>
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/fruits.png" class="card-img-top" height="170">
                <div class="card-body">
                  <h5 class="card-title">Fruits</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More information</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/ketodiet.png" class="card-img-top" height="170">
                <div class="card-body">
                  <h5 class="card-title">Foods keto diet</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More information</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/proteine.png" class="card-img-top" height="170">
                <div class="card-body">
                  <h5 class="card-title">Foods proteins</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More information</a>
                </div>
              </div>
        </div>
    </div>
</div>
